$theme-color-red: #ee2028;
$theme-color: #00984a;
$secondary-color: #001a71;
$title-color: #000000;
$body-color: #555555;
$smoke-color: #f3f5fc;
$light-color: #d3d3d3;
$black-color: #000000;
$white-color: #ffffff;
$yellow-color: #fec624;
$success-color: #28a745;
$error-color: #dc3545;
$border-color: #f1f2f7;
$light-green: #4fc52b;
$light-yellow: #f58830;
$light-blue: #305af5;
