$theme-color-red: #ee2028;
$theme-color: #00984a;
$secondary-color: #001a71;
$title-color: #000000;
$body-color: #555555;
$smoke-color: #f3f5fc;
$light-color: #d3d3d3;
$black-color: #000000;
$white-color: #ffffff;
$light-white: #f5f5f5;
$yellow-color: #fec624;
$success-color: #28a745;
$error-color: #dc3545;
$border-color: #f1f2f7;
$light-green: #4fc52b;
$light-yellow: #f58830;
$light-blue: #305af5;
$blog-text: #999999;
$background-color1: #1c1f21;

$facebook-color: #4267b2;
$twitter-color: #00acee;
$linkedin-color: #0072b1;
$pinterest-color: #c8232c;
$instagram: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
