html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  color: $body-color;
  position: relative;
}

input:focus {
  outline: none;
  box-shadow: none;
}
ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border-color;
  th {
    font-weight: 700;
    color: $title-color;
    padding: 9px 12px;
  }
  td {
    border: 1px solid $border-color;
    padding: 9px 12px;
  }
}
a {
  color: $theme-color;
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
  &:hover {
    color: $title-color;
  }
}
button {
  transition: all ease 0.4s;
}

img {
  border: none;
  max-width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: $white-color;

  .vs-btn {
    padding: 10px 20px;
    border-radius: 0;
    font-size: 14px;
  }
}

.preloader-inner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  img {
    display: block;
    margin: 0 auto 30px auto;
  }
}

.loader {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
  color: $theme-color;
  -webkit-animation: loaderfill 1s ease-in infinite alternate;
  animation: loaderfill 1s ease-in infinite alternate;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
    left: 48px;
    top: 0;
    -webkit-animation: loaderfill 0.9s ease-in infinite alternate;
    animation: loaderfill 0.9s ease-in infinite alternate;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
    left: auto;
    right: 48px;
    top: 0;
    -webkit-animation: loaderfill 0.9s ease-in infinite alternate;
    animation: loaderfill 0.9s ease-in infinite alternate;
    transform: rotate(45deg);
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
  }
}

@-webkit-keyframes loaderfill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }

  100% {
    box-shadow: 0 0 0 10px inset;
  }
}

@keyframes loaderfill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }

  100% {
    box-shadow: 0 0 0 10px inset;
  }
}

@keyframes grow {
  0%,
  20% {
    transform: scale(1);
  }

  75%,
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.3s;
}
.container {
  max-width: 1320px;
}
img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  30% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  30% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.sec-subtitle2 {
  // font-size: 20px;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
  color: $theme-color;
  display: block;
  text-transform: uppercase;
  margin: -0.2em 0 20px 0;
}

h2.sec-title {
  font-size: 48px;
  line-height: 1.3;
  margin: -0.2em 0 26px 0;
  display: inline-block;
  font-family: $title-font;
  color: $title-color;
  text-transform: none;
  font-weight: 700;
  text-transform: capitalize;
}
.text-light-inner {
  color: #888;
}
.fs-md {
  font-size: 18px;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
p {
  margin: 0 0 18px 0;
  color: $body-color;
  line-height: 1.63;
}
.vs-btn {
  @include vs-btn;
  &::before {
    @include vs-btn-before;
  }
  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

.background-image,
[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sec-pills {
  display: inline-block;
  margin: 8px 0 11px 0;
  .pill {
    display: inline-block;
    width: 5px;
    height: 16px;
    background-color: $theme-color;
    border-radius: 9999px;
    position: relative;
  }
  .pill:nth-child(even) {
    top: -8px;
  }
}
.justify-content-between {
  justify-content: space-between !important;
}
.cta-shape3,
.cta-shape2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 1596px;
  height: 815px;
  border-radius: 0 10px 10px 0;
}
.z-index-common {
  position: relative;
  z-index: 3;
}
.ps-xxl-5 {
  padding-left: 3rem !important;
}
.align-self-center {
  align-self: center !important;
}
.gy-30 {
  --bs-gutter-y: 30px;
}
.text-theme {
  color: $theme-color !important;
}
.view-projects-btn {
  background: #fff;
  color: $theme-color;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 15px;
  text-transform: capitalize;
  padding: 8px 20px;
  border: 1px solid #fff;
  &:hover {
    border-color: #fff;
    color: #fff;
  }
}
.img-cover {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
}

.sec-subtitle {
  font-size: 16px;
  font-weight: 700;
  color: $theme-color;
  display: block;
  text-transform: uppercase;
  margin: -0.2em 0 10px 0;
}
.footer-widget,
.footer-widget .widget {
  padding: 0;
  border: none;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}
.fixed-share-main {
  position: fixed;
  left: 20px;
  width: auto;
  height: auto;
  z-index: 99;
  bottom: 30px;
  overflow: hidden;
  transition: 1s;
  .share-toggleer {
    height: 50px;
    width: 50px;
    @include circle-radious;
    background: $theme-color-red;
    a.share-parent {
      position: relative;
      overflow: auto;
      transition: 0.1s;
      text-decoration: none;
      color: #fff;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ul.nav {
      position: absolute;
      left: 0px;
      bottom: 50px;
      transition: 1s;

      li.nav-item {
        a.nav-link {
          transition: all 0.2s ease-in-out;
          padding: 0;
          height: 50px;
          width: 50px;
          margin: 5px 0;
          color: #fff;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $theme-color-red;
          @include circle-radious;
          transition: 0.5s;
          -webkit-animation: fade-out 1s both;
          animation: fade-out 1s both;
        }
      }

      $colors: (
        '1': $facebook-color,
        '2': $twitter-color,
        '3': $instagram,
        '4': $linkedin-color,
      );

      @each $key, $val in $colors {
        li.nav-item:nth-child(#{$key}) {
          a.nav-link {
            background: #{$val} !important
            ;
          }
        }
      }
    }
    &:hover {
      a.share-parent {
        i {
          transform: rotateX(360deg);
          -webkit-transform: rotateX(360deg);
          -moz-transform: rotateX(360deg);
          -ms-transform: rotateX(360deg);
          -o-transform: rotateX(360deg);
          transition: all 0.9s ease 0s;
        }
      }
    }
  }
  &:hover {
    overflow: visible;
    transition: 1s;
    ul.nav {
      li.nav-item {
        a.nav-link {
          -webkit-animation: fade-in-bottom 0.6s both;
          animation: fade-in-bottom 0.6s both;
        }
      }
    }
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
