$title-font: 'Sora', sans-serif;
$body-font: 'Sora', sans-serif;
$ripple-ani-duration: 5s;
$main-container: 1290px;
$container-gutters: 30px;
$section-space: 120px;
$section-space-mobile: 80px;
$section-title-space: 80px;
$ripple-ani-duration: 5s;
