@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/color";
@import "partials/common";

.news-banner-main {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;

  .news-banner-content {
    height: 350px;
    h1 {
      color: $white-color;
    }
    .breadcrumb {
      nav {
        ol {
          li {
            color: $white-color;
            a {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

// .investor-content-main {
//   padding: 80px 0;
//   min-height: 800px;

//   .investor-content-title {
//     margin-bottom: 50px;
//     h2 {
//       color: $theme-color;
//     }
//   }

//   .investor-content-wrapper{
//     // padding: 20px 0;
//     border-top: 1px solid #1fa66e;

//     .col-lg-10{
//       border: 1px solid;
//       border-color: transparent #1fa66e #1fa66e #1fa66e;
//     }

//     .nav {
//       flex-direction: column;
//       .nav-tabs {
//         // border-bottom: 1px solid #1fa66e;
//         .nav-link {
//           background-color: #1fa66e;
//           color: $white-color;
//           border-color: transparent transparent #1fa66e #1fa66e;
//           border-radius: 0;
//           padding: 15px 0;
//           // margin: 0.5px 0;
//           transition: 0.5s;
//           font-weight: 600;

//           &:hover{
//             background: $white-color;
//           color: $theme-color;
//           }
//         }
//         .nav-link.active {
//           background: $white-color;
//           color: $theme-color;
//           // background: linear-gradient(to top, #1fa66e, #7dd56f);
//           // border-color: $theme-color;
//           // color: $theme-color;
//         }
//       }
//     }
  
//     .tab-content {
//       padding: 12px 0;
//       transition: 0.5s;
//       table {
//         // background: #11998e;  /* fallback for old browsers */
//         // background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
//         // background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//         border: none;
//         thead {
//           // background-color: rgba(255,255,255,.32);
//           border-bottom: 2px solid $theme-color;
//           tr {
//             th {
//               color: $theme-color;
//               padding: 10px 20px;
//             }
//           }
//         }
//         tbody {
          
//           tr {
//             transition: 0.5s;
//             &:hover{
//               // background-color: rgba(255,255,255,.32);
//               background-color: rgba(31, 166, 110, 0.2);
//             }
//             td {
//               color: $blog-text;
//               padding: 10px 20px;
//               a {
//                 // color: $white-color;
//                 &:hover {
//                   color: #1fa66e;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }


// }
