@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/color";
@import "partials/common";



.news-banner-main {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  // height: 220px;

  .news-banner-content {
    height: 220px;
    h1 {
      color: $white-color;
    }
    .breadcrumb {
      
      
      nav {
        ol {
          li {
            color: $white-color;
            a {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}


.news-content-main {
  padding: $section-space-mobile 0;

  .news-post {
    .news-post-meta {
      margin-bottom: 20px;
    }

    .news-post-title {
      h4 {
        font-family: "poppins", sans-serif;
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 30px;
        transition: 1s;
        &:hover {
          color: $theme-color;
        }
      }
    }

    .news-post-image {
      padding-bottom: 40px;
      
    }

    .news-post-text {
      p {
        color: $blog-text;
        font-weight: 400;
        line-height: 28px;
        font-size: 15px;
        text-align: justify;
      }

      blockquote {
        padding: 16px 20px 16px 80px;
        font-size: 18px;
        font-style: italic;
        color: #555555;
        margin: 40px 0;
        border-left: none;
        line-height: 30px;
        position: relative;
        background: #f6f6f6;
        clear: both;
        border-left: 4px solid $theme-color;
        text-align: start;

        &:before {
          content: "\f10d";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          color: $theme-color;
          font-size: 35px;
          position: absolute;
          left: 20px;
          top: 20px;
          font-style: normal;
        }
      }

      h5 {
        font-family: "poppins", sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: $title-color;
        text-transform: capitalize;
        margin-top: 40px;
      }

      .alignleft {
        float: left;
        margin: 5px 25px 25px 0;
        max-width: 300px;
      }

      hr {
        margin: 40px 0;
      }

      .alignright {
        float: right;
        margin: 5px 0px 25px 25px;
        max-width: 300px;
      }
    }

    .news-post-tags {
      border-top: 1px solid #ebedf2;
      padding: 15px 0;
      ul.nav {
        li {
          a {
            font-family: "poppins", sans-serif;
            border: 1px solid #ebedf2;
            padding: 0px 8px;
            color: #a9a9a9 !important;
            margin: 0 3px;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .comment-section{
    padding: 30px 0;
    .comment-title{
      margin-bottom: 50px;
      h4{
        font-size: 20px;
        text-transform: uppercase;
      }
    }

    .comments-wrapper{

      .children{
        margin-left: 100px;
        margin-top: 50px;
      }

      .comment-list{
        margin-bottom: 30px;
        .comment{

          .user-img{
            width: 80px;
            img{
              width: 100%;
            }
          }

          .comment-card{
            padding: 20px 30px;
            background-color: $white-color;
            border: 1px solid #ebedf2;
            position: relative;
            
            
            &::before{
              content: '';
              position: absolute;
              top: 20px;
              width: 0;
              height: 0;
              border-width: 10px 12px 10px 0;
              border-style: solid;
              border-color: transparent #fff transparent #fff;
              z-index: 1;
              left: -12px;
              top: 22px;
            }
            
            &::after{
              content: '';
              position: absolute;
              top: 20px;
              width: 0;
              height: 0;
              border-width: 10px 12px 10px 0;
              border-style: solid;
              border-color: transparent #ebedf2 transparent #ebedf2;
              border-width: 12px 14px 12px 0;
              left: -14px;
            }


            .comment-title{
              margin-bottom: 20px;
              font-size: 18px;
              font-weight: 700;
            }
            .comment-meta{
              margin-bottom: 15px;
              font-size: 14px;
              // .date-time{}
              .reply{
                button{
                  border: none;
                  background-color: transparent;
                  color: $body-color;
                }
              }
            }

            p{
              font-size: 14px;
            }
            
          }
        }
      }
    }

    .post-comment{
      form {
        border: 1px solid #e9e9e9;
        padding: 30px;

        .form-title{
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 30px;
        }

        .input-group{
          margin-bottom: 30px;

          .form-control{
            padding: 12px;

            &:focus{
              box-shadow: none;
              border-color: #a9a9a9;
            }
          }

          textarea.form-control{
            border-radius: 0 8px 8px 0 !important;
          }
        }

        button{
          border: none;
          background-color: $theme-color;
          padding: 12px 25px;
          color: $white-color;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }

  aside {
    .widget {
      margin-bottom: 30px;
      .input-group {
        border: 1px solid #efefef;
        width: 100%;
        position: relative;

        .form-control {
          border: none;
          font-size: 15px;
          height: 45px;
          padding: 5px 20px;
          &:focus {
            box-shadow: none;
          }
        }

        .input-group-btn {
          position: absolute;
          right: 8px;
          top: 10px;
          z-index: 9999;
          button {
            background-color: transparent;
            border: none;
            color: $theme-color;
            font-size: 18px;
          }
        }
      }
    }
    
    .widget-post-wrapper {
      .widget-post {
        display: flex;
        margin-bottom: 20px;
        .widget-post-image {
          max-width: 125px;
          
        }
        .widget-post-info {
          margin-left: 10px;
          .widget-post-meta {
            ul {
              font-size: 13px;
            }
          }
          .widget-post-header {
            h6.post-title {
              font-family: "poppins", sans-serif;
              line-height: 20px;
              margin-bottom: 8px;
              margin-top: 0;
              text-transform: capitalize;
              font-size: 15px;
              font-weight: 600;
              a {
                color: #404040;
              }
            }
          }
        }
      }
    }

    .widget-newsletter{
      background-color: #F5F6F7;
      padding: 20px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      .news-box{
        p{
          font-style: italic;
        }
        form{
          .input-group{
            margin-bottom: 20px;
            .form-control{
              border-radius: 0;
            }
          }
          button{
            width: 100%;
            border: none;
            padding: 10px 0;
            background-color: $theme-color;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: $white-color;
          }
        }
        
      }
    }

    .widget-gallery{
      .widget-gallery-img{
        margin: 3px;
        position: relative;

        &::before{
          content: '';
          width: 100%;
          height: 100%;
          background-color: transparent;
          position: absolute;
          transition: 0.5s;
        }

        &:hover{
          &::before{
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .catergory-list{
      ul{
        li{
          border-bottom: 1px solid rgba(168, 168, 168, 0.315);
          padding: 10px 0;
          a{
            color: $blog-text;
            &:hover{
              color: $theme-color;
            }
            i{
              margin-right: 10px;
            }
          }
        }
      }
    }

    .our-project{
      .our-project-slider-wrapper{
        .our-project-slider{
          .our-project-slider-image{
            img{
              width: 100%;
            }
          }
        }
      }
    }

    .widget-tags{
      .tag{
        padding: 2px 10px;
        border: 2px solid #ebedf2;
        background-color: $white-color;
        border-radius: 50px;
        color: #555555;
        font-size: 14px;
        font-weight: 600;
        margin: 5px;
        transition: 0.5s;
        text-transform: capitalize;

        &:hover{
          background-color: $theme-color;
          color: $white-color;
        }
      }
    }

  }
}


.meta {
  ul {
    text-transform: uppercase;
    color: $theme-color;
    font-size: 14px;
    margin: 0;

    li.news-post-date {
      display: inline-block;
      position: relative;
      font-weight: 600;
      &::after {
        content: "|";
        // width: 2px;
        // height: 80%;
        position: absolute;
        top: 0;
        // background-color: $theme-color;
        margin-left: 5px;
        color: $theme-color;
      }
    }
    li.news-post-author {
      display: inline-block;
      margin-left: 10px;
      font-weight: 600;
    }
  }
}

.widget-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  line-height: 12px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;

  &::after {
    border-radius: 0;
    bottom: -2px;
    content: "";
    display: inline-block;
    height: 3px;
    left: 0;
    margin: 0;
    position: absolute;
    vertical-align: bottom;
    width: 55px;
    background-color: $theme-color;
  }
}
