html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  color: #555555;
}

input:focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #f1f2f7;
}
table th {
  font-weight: 700;
  color: #000000;
  padding: 9px 12px;
}
table td {
  border: 1px solid #f1f2f7;
  padding: 9px 12px;
}

a {
  color: #00984a;
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}
a:hover {
  color: #000000;
}

button {
  transition: all ease 0.4s;
}

img {
  border: none;
  max-width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: #ffffff;
}
.preloader .vs-btn {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 14px;
}

.preloader-inner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.preloader-inner img {
  display: block;
  margin: 0 auto 30px auto;
}

.loader {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
  color: #00984a;
  -webkit-animation: loaderfill 1s ease-in infinite alternate;
  animation: loaderfill 1s ease-in infinite alternate;
}
.loader::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
  left: 48px;
  top: 0;
  -webkit-animation: loaderfill 0.9s ease-in infinite alternate;
  animation: loaderfill 0.9s ease-in infinite alternate;
  transform: rotate(45deg);
}
.loader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
  left: auto;
  right: 48px;
  top: 0;
  -webkit-animation: loaderfill 0.9s ease-in infinite alternate;
  animation: loaderfill 0.9s ease-in infinite alternate;
  transform: rotate(45deg);
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

@-webkit-keyframes loaderfill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}
@keyframes loaderfill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}
@-webkit-keyframes grow {
  0%, 20% {
    transform: scale(1);
  }
  75%, 100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
@keyframes grow {
  0%, 20% {
    transform: scale(1);
  }
  75%, 100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.3s;
}

.container {
  max-width: 1320px;
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.sec-subtitle2 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #00984a;
  display: block;
  text-transform: uppercase;
  margin: -0.2em 0 20px 0;
}

h2.sec-title {
  font-size: 48px;
  line-height: 1.3;
  margin: -0.2em 0 26px 0;
  display: inline-block;
  font-family: "Sora", sans-serif;
  color: #000000;
  text-transform: none;
  font-weight: 700;
  text-transform: capitalize;
}

.text-light-inner {
  color: #888;
}

.fs-md {
  font-size: 18px;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

p {
  margin: 0 0 18px 0;
  color: #555555;
  line-height: 1.63;
}

.vs-btn {
  position: relative;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 22px 40px;
  border-radius: 9999px;
  z-index: 1;
  background-color: #00984a;
  color: #ffffff;
  font-family: "Sora", sans-serif;
  height: 64px;
}
.vs-btn::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #ffffff;
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
  transition: all ease 0.4s;
}
.vs-btn:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.background-image,
[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sec-pills {
  display: inline-block;
  margin: 8px 0 11px 0;
}
.sec-pills .pill {
  display: inline-block;
  width: 5px;
  height: 16px;
  background-color: #00984a;
  border-radius: 9999px;
  position: relative;
}
.sec-pills .pill:nth-child(even) {
  top: -8px;
}

.justify-content-between {
  justify-content: space-between !important;
}

.cta-shape3,
.cta-shape2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 1596px;
  height: 815px;
  border-radius: 0 10px 10px 0;
}

.z-index-common {
  position: relative;
  z-index: 3;
}

.ps-xxl-5 {
  padding-left: 3rem !important;
}

.align-self-center {
  align-self: center !important;
}

.gy-30 {
  --bs-gutter-y: 30px;
}

.text-theme {
  color: #00984a !important;
}

.view-projects-btn {
  background: #fff;
  color: #00984a;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 15px;
  text-transform: capitalize;
  padding: 8px 20px;
  border: 1px solid #fff;
}
.view-projects-btn:hover {
  border-color: #fff;
  color: #fff;
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
}

.sec-subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #00984a;
  display: block;
  text-transform: uppercase;
  margin: -0.2em 0 10px 0;
}

.footer-widget,
.footer-widget .widget {
  padding: 0;
  border: none;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.homeslider-main {
  width: 100%;
  position: relative;
  height: 850px;
}
.homeslider-main .homeslider-wrapper .home-slide {
  height: 850px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  transition: all 0.5s;
}
.homeslider-main .homeslider-wrapper .home-slide .shape-image {
  z-index: 102;
  margin-left: 0px;
  margin-top: 0px;
  width: 1181.86px;
  height: 1049.65px;
  left: -9.01421px;
  top: -49.9063px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  opacity: 1;
  display: block;
  position: absolute;
}
.homeslider-main .homeslider-wrapper .home-slide .shape-image img {
  font-size: 36px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0px;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  top: -49.9063px;
  left: -9.01421px;
  margin: 0px;
  z-index: auto;
  width: 1181.86px;
  height: 1049.65px;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  position: static !important;
  display: block !important;
  transform: translateZ(1px);
  white-space: nowrap;
  word-wrap: normal;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box {
  z-index: 105;
  margin-left: 0px;
  margin-top: 0px;
  width: 800px;
  padding-right: 30px;
  left: 270px;
  top: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 1;
  display: block;
  position: absolute;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box p.company-name {
  font-size: 48.0758px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.200316px;
  margin: 0px 0 20px 0;
  text-transform: capitalize;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box h2.main-feature {
  font-size: 90.1421px;
  color: #ffffff;
  letter-spacing: -0.500789px;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0px 0 20px 0;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .core-features {
  margin-bottom: 20px;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .core-features p {
  font-size: 22.0347px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #ffffff;
  padding: 0px;
  line-height: 1.5;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .explore-more-btn .vs-btn {
  position: relative;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 22px 40px;
  border-radius: 9999px;
  z-index: 1;
  background-color: #00984a;
  color: #ffffff;
  font-family: "Sora", sans-serif;
  height: 64px;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .explore-more-btn .vs-btn::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #ffffff;
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
  transition: all ease 0.4s;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .explore-more-btn .vs-btn:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .explore-more-btn .vs-btn.style2 {
  border: 3px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.homeslider-main .homeslider-wrapper .home-slide .slider-content-box .explore-more-btn .vs-btn.style2:hover {
  color: #000000;
}
.homeslider-main .homeslider-wrapper .home-slide.slick-active {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  transition: none 0s ease 0s;
}
.homeslider-main .slick-prev {
  position: absolute;
  width: 85px;
  height: 85px;
  background: #fff;
  border: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  font-size: 15px;
  line-height: 100px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 136px;
  z-index: 2;
  top: 40%;
  transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
  -moz-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  -o-transform: translateY(-45%);
}
.homeslider-main .slick-prev::before {
  display: none;
}
.homeslider-main .slick-prev i {
  color: #000000;
  font-size: 24px;
}
.homeslider-main .slick-next {
  position: absolute;
  width: 85px;
  height: 85px;
  background: #fff;
  border: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  font-size: 15px;
  line-height: 100px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 136px;
  z-index: 2;
  top: 50%;
  transform: translateY(-46%);
}
.homeslider-main .slick-next::before {
  display: none;
}
.homeslider-main .slick-next i {
  color: #000000;
  font-size: 24px;
}

header .navbar {
  background: #ffffff;
}
header .navbar .vs-btn {
  position: relative;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #00984a;
  color: #ffffff;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 22px 40px;
  border-radius: 9999px;
  z-index: 1;
  height: unset !important;
}
header .navbar .vs-btn::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #ffffff;
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
  transition: all ease 0.4s;
  color: #00984a;
}
header .navbar .vs-btn:hover {
  color: #00984a;
}
header .navbar .vs-btn:hover:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
header .navbar.fixed-top {
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.1);
}
header li.nav-item {
  margin-right: 13px;
}
header li.nav-item a.nav-link {
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
}
header li.nav-item a.nav-link:hover {
  color: #00984a;
}
header li.nav-item a.nav-link.active {
  color: #00984a;
}
header #navbar_top .container {
  display: unset !important;
}
header #navbar_top .container #main_nav {
  display: unset !important;
}
header #navbar_top .container #main_nav ul.navbar-nav {
  justify-content: center;
}

li.nav-item.dropdown .dropdown-menu {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
li.nav-item.dropdown .dropdown-menu .dropdown-item {
  padding: 10px 20px;
  position: relative;
  color: #ffffff;
}
li.nav-item.dropdown .dropdown-menu .dropdown-item::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #00984a;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s;
}
li.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
li.nav-item.dropdown .dropdown-menu .dropdown-item:hover::after {
  width: 100%;
  opacity: 0.8;
  left: 0;
  background: rgb(0, 152, 74);
  background: linear-gradient(93deg, rgb(0, 152, 74) 0%, rgba(0, 152, 74, 0.8463760504) 50%, rgba(0, 152, 74, 0) 100%);
}
li.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  opacity: 0.8;
  background: rgb(0, 152, 74);
  background: linear-gradient(93deg, rgb(0, 152, 74) 0%, rgba(0, 152, 74, 0.8463760504) 50%, rgba(0, 152, 74, 0) 100%);
}
li.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
  border-radius: 0;
}

.about-main {
  padding: 50px 0;
}
.about-main .container {
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
  max-width: 1578px;
}
.about-main .img-box {
  display: flex;
  gap: 30px;
  padding-right: 55px;
}
.about-main .img-box .img-2 {
  position: relative;
}
.about-main .img-box .img-2 .play-btn {
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ffffff;
  color: #000000;
}
.about-main .img-box .img-2 .play-btn i {
  display: inline-block;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 25px;
  border-radius: 50%;
  z-index: 1;
  transition: all ease 0.4s;
}
.about-main .img-box .img-2 .play-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: -1;
  border-radius: 50%;
  transition: all ease 0.4s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ripple;
  animation-name: ripple;
}
.about-main .img-box .img-2 .play-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: -1;
  border-radius: 50%;
  transition: all ease 0.4s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ripple;
  animation-name: ripple;
}
.about-main .img-box .img-2 .play-btn:hover:after {
  background-color: #00984a;
  color: #ffffff;
}
.about-main .img-box .img-2 .play-btn:hover::before {
  background-color: #00984a;
  color: #ffffff;
}
.about-main .img-box .img-2 .play-btn:hover i {
  background-color: #00984a;
  color: #ffffff;
}
.about-main .img-box .img-2 .play-btn.style2 {
  width: 130px;
  height: 130px;
  font-size: 2em;
}
.about-main .img-box .img-2 .play-btn.style2:after {
  background-color: #ffffff;
  color: #000000;
}
.about-main .img-box .img-2 .play-btn.style2::before {
  background-color: #ffffff;
  color: #000000;
}
.about-main .img-box .img-2 .play-btn.style2 i {
  background-color: #ffffff;
  color: #000000;
}
.about-main .img-box .img-2 .play-btn.style2:hover:after {
  background-color: #00984a;
  color: #ffffff;
}
.about-main .img-box .img-2 .play-btn.style2:hover::before {
  background-color: #00984a;
  color: #ffffff;
}
.about-main .img-box .img-2 .play-btn.style2:hover i {
  background-color: #00984a;
  color: #ffffff;
}

.why-choose .container {
  max-width: 1650px;
}

.space {
  padding: 50px 0;
}
.space .feature-multi2 {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25px;
  align-items: center;
}
.space .feature-multi2 .feature-style2 {
  background-color: #ee2028;
  width: 320px;
  height: 320px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  padding: 5px 0 0 0;
}
.space .feature-multi2 .feature-style2 .feature-icon {
  margin: 0 0 13px 0;
}
.space .feature-multi2 .feature-style2 .feature-title {
  font-size: 48px;
  color: #ffffff;
  margin: 0 0 5px 0;
  line-height: 1;
}
.space .feature-multi2 .feature-style2 .feature-text {
  margin: 0;
  font-weight: 300;
  color: #ffffff;
}
.space .feature-multi2 .feature-style2:nth-child(2) {
  background: #4fc52b;
  width: 220px;
  height: 220px;
}
.space .feature-multi2 .feature-style2:nth-child(3) {
  background: #f58830;
  width: 220px;
  height: 220px;
}
.space .feature-multi2 .feature-style2:nth-child(4) {
  background: #305af5;
}

.our-journey .title-area {
  margin-bottom: 40px;
}
.our-journey .process-shape1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.our-journey .process-style1 {
  margin: 13px auto;
}
.our-journey .process-style1 .process-body {
  width: 240px;
  height: 240px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 21px 35px 10px 35px;
  transition: all ease 0.4s;
}
.our-journey .process-style1 .process-body .process-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  z-index: -1;
  background-color: #ffffff;
  border-radius: 40% 40% 40% 40%/40% 40% 40% 40%;
  box-shadow: 10px 17.321px 60px 0px rgba(0, 35, 160, 0.06);
  transition: all ease 0.4s;
}
.our-journey .process-style1 .process-body .process-number {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 20px;
  font-weight: 600;
  width: 84px;
  height: 84px;
  line-height: 65px;
  border: 10px solid #f3f5fc;
  color: #ffffff;
  background-color: #00984a;
  border-radius: 50%;
  text-align: center;
  transition: all ease 0.4s;
}
.our-journey .process-style1 .process-body .process-icon {
  margin: 0 0 23px 0;
}
.our-journey .process-style1 .process-body .process-icon img {
  transition: all ease 0.4s;
}
.our-journey .process-style1 .process-body .process-text {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
.our-journey .process-style1:hover .process-shape {
  background-color: #ee2028;
}
.our-journey .process-style1:hover .process-number {
  background-color: #ee2028;
}
.our-journey .process-style1:hover .process-text {
  color: #ffffff;
}
.our-journey .process-style1:hover img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.our-journey button.glance-arrow {
  font-size: 20px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  border: 4px solid #f3f5fc;
  color: #ffffff;
  background-color: #00984a;
  border-radius: 50%;
  text-align: center;
  transition: all ease 0.4s;
}
.our-journey button.glance-arrow:hover {
  background-color: #ee2028;
}

.top-half {
  margin: 50px 0px !important;
}
.top-half .cta-shape3 {
  height: 100%;
}
.top-half .vs-btn.style2 {
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.top-half .vs-btn.style2:hover {
  color: #000000;
}

.industry-leaders {
  position: relative;
  padding-top: 120px;
}
.industry-leaders .container {
  max-width: 1650px;
}
.industry-leaders .about-shape1 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #00984a;
  z-index: -1;
  width: 100%;
  max-width: 510px;
}
.industry-leaders .about-quote {
  display: flex;
  align-items: center;
  border-top: 1px solid #e9ebf3;
  padding: 30px 0 0 0;
  margin: 0 0 13px 0;
}
.industry-leaders .about-quote .about-quote__icon {
  font-size: 50px;
  color: var(--title-color);
  margin-right: 25px;
}
.industry-leaders .about-quote .about-quote__text {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0 30px 0 0;
}
.industry-leaders .middle-box {
  background-color: #f3f5fc;
  text-align: center;
  padding: 30px 30px 22px 30px;
}
.industry-leaders .middle-box .middle-box__icon {
  margin: 0 0 20px 0;
}
.industry-leaders .middle-box .middle-box__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.business-main {
  position: relative;
}
.business-main .latest-project-info {
  visibility: visible;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  padding: 100px 130px;
  background: #00984a;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}
.business-main .latest-project-info .sec-subtitle2 {
  color: #fff;
}
.business-main .latest-project-info h2 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 25px;
  color: #fff;
}
.business-main .latest-project-info p {
  line-height: 28px;
  margin-bottom: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.business-main .dlab-box {
  position: relative;
  transition: all 0.8s linear;
}
.business-main .dlab-box .dlab-img-overlay1 {
  position: relative;
}
.business-main .dlab-box .dlab-img-overlay1::before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.8s linear;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.business-main .dlab-box .dlab-img-overlay1::after {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0.4;
  z-index: 1;
  transition: all 0.8s linear;
}
.business-main .dlab-box .overlay-bx {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.business-main .dlab-box .overlay-bx .overlay-icon {
  height: auto;
  left: 50%;
  list-style: outside none none;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
}
.business-main .dlab-box .overlay-bx .overlay-icon .icon-bx-xs {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
}
.business-main .dlab-box:hover .dlab-img-overlay1::before {
  opacity: 0.5;
}
.business-main .dlab-box:hover .overlay-bx {
  opacity: 1;
  visibility: visible;
}

.news-main {
  background-color: #f5f5f5;
  padding: 90px 0 120px 0;
  /* the parent */
}
.news-main .container {
  max-width: 1650px;
}
.news-main .post-creative {
  position: relative;
  text-align: center;
  padding: 10px 10px 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  padding: 15px 15px 0;
}
.news-main .post-creative::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 23px;
  left: 0;
  background: #fff;
  z-index: -1;
}
.news-main .post-creative .post-creative-figure {
  display: block;
  overflow: hidden;
}
.news-main .post-creative .post-creative-figure img {
  width: 100%;
  transition: all 0.3s ease;
  transform: none;
  will-change: transform;
}
.news-main .post-creative .post-creative-caption {
  padding: 26px 15px 34px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  max-width: 90%;
}
.news-main .post-creative .post-creative-caption .post-creative-title {
  line-height: 1.44;
  letter-spacing: 0.05em;
  text-transform: none;
  font-size: 15px;
}
.news-main .post-creative .post-creative-caption .post-creative-title a {
  color: #000000;
}
.news-main .post-creative .post-creative-caption .post-creative-title:hover a {
  color: #00984a;
}
.news-main .post-creative .post-creative-panel {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #00984a;
  transform: translate3d(0, -10px, 0);
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}
.news-main .post-creative .post-creative-panel li {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  position: relative;
}
.news-main .post-creative .post-creative-panel li:not(:last-child)::after {
  position: absolute;
  content: "\\";
  top: 0;
  right: -6px;
}
.news-main .slick-slide {
  margin: 0 10px;
}
.news-main .slick-list {
  margin: 0 -10px;
}
.news-main .slick-next {
  background: #fff;
  border: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  right: -55px;
  color: #00984a;
}
.news-main .slick-next i {
  font-size: 20px;
}
.news-main .slick-next::before {
  display: none;
}
.news-main .slick-prev {
  background: #fff;
  border: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  left: -55px;
  color: #00984a;
}
.news-main .slick-prev i {
  font-size: 20px;
}
.news-main .slick-prev::before {
  display: none;
}

.portfolio-main {
  padding: 50px 0;
  background: #fff;
  /* the parent */
}
.portfolio-main .container {
  max-width: 1650px;
}
.portfolio-main .card {
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  border-color: #e9ebf3;
}
.portfolio-main .card img {
  border-radius: 10px;
  width: 100%;
}
.portfolio-main .card .card-body {
  padding: 10px 20px 5px 15px;
}
.portfolio-main .card .card-body h6 {
  margin-bottom: 0;
}
.portfolio-main .card .card-body h6 a {
  color: #00984a;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}
.portfolio-main .slick-slide {
  margin: 0 10px;
}
.portfolio-main .slick-list {
  margin: 0 -10px;
}
.portfolio-main .slick-next {
  background: #fff;
  border: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  right: -55px;
  color: #00984a;
}
.portfolio-main .slick-next i {
  font-size: 20px;
}
.portfolio-main .slick-next::before {
  display: none;
}
.portfolio-main .slick-prev {
  background: #fff;
  border: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  left: -55px;
  color: #00984a;
}
.portfolio-main .slick-prev i {
  font-size: 20px;
}
.portfolio-main .slick-prev::before {
  display: none;
}
.portfolio-main .view-all-projects {
  background: #00984a;
  color: #fff;
  text-transform: capitalize;
  font-size: 17px;
  padding: 8px 20px;
  margin-top: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.gallary-main {
  padding: 50px 0;
}
.gallary-main .content {
  padding: 10px 0;
  width: 100%;
  float: right;
}
.gallary-main .content .elem {
  display: inline-block;
  font-size: 0;
  width: 33%;
  border: 10px solid transparent;
  border-bottom: none;
  background: #fff;
  padding: 0px;
  height: auto;
  background-clip: padding-box;
  border-radius: 10px;
}
.gallary-main .content .elem span {
  display: block;
  cursor: pointer;
  height: 0;
  padding-bottom: 70%;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

.request-call-back {
  padding-top: 50px;
}
.request-call-back .form-group {
  margin-bottom: 20px;
  position: relative;
}
.request-call-back .form-group .form-control {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 30px 0 28px;
  padding-right: 45px;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #777;
  font-size: 16px;
  border-radius: 12px;
  height: 62px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 21px 10px 0px rgba(4, 4, 4, 0.05);
}
.request-call-back .form-group textarea {
  min-height: 150px;
  padding-top: 16px !important;
  padding-bottom: 17px !important;
  border-radius: 0;
}
.request-call-back .form-group textarea.style2 {
  color: #777;
  font-size: 16px;
  border-radius: 12px;
  height: 62px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 21px 10px 0px rgba(4, 4, 4, 0.05);
}
.request-call-back .vs-btn:hover {
  color: #00984a;
}

.footer-layout1 {
  background-color: #00984a;
  color: #fff;
}
.footer-layout1 .widget-area {
  padding-top: 100px;
  padding-bottom: 60px;
}
.footer-layout1 .widget-area .footer-widget .widget_title {
  position: relative;
  font-weight: 700;
  line-height: 1em;
  font-size: 24px;
  text-transform: capitalize;
  margin: -0.2em 0 36px 0;
}
.footer-layout1 .newsletter-form .form-title {
  color: #fff;
  margin: -0.35em 0 17px 0;
}
.footer-layout1 .widget input {
  height: 60px;
  border: none;
  background-color: #ecf0fb;
  font-size: 14px;
  width: 100%;
  font-weight: 500;
  border-radius: 7px;
  margin: 0 0 15px 0;
  padding: 0 30px;
}
.footer-layout1 .footer-info {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 0 23px 0;
  padding: 0 0 0 65px;
  height: 44px;
  max-width: 330px;
  color: #fff;
}
.footer-layout1 .footer-info a {
  color: #fff;
}
.footer-layout1 .footer-info i {
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #00984a;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.footer-layout1 .footer-info:last-child {
  margin-bottom: 0;
}
.footer-layout1 .menu-all-pages-container ul.menu {
  padding-left: 0;
}
.footer-layout1 .menu-all-pages-container ul.menu li {
  display: block;
  position: relative;
}
.footer-layout1 .menu-all-pages-container ul.menu li a {
  display: block;
  border: none;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 26px 0;
  color: #fff;
}
.footer-layout1 .vs-btn {
  background-color: #fff;
  color: #00984a;
}
.footer-layout1 .vs-btn:hover {
  color: #fff;
}
.footer-layout1 .vs-btn:hover::before {
  background: #00984a;
}
.footer-layout1 .copyright-wrap {
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #fff;
}
.footer-layout1 .copyright-wrap .copyright-text {
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
}
.footer-layout1 .copyright-wrap .copyright-text a {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}
.footer-layout1 .copyright-wrap .header-social a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 37px;
  font-size: 12px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.carrer-banner-main {
  background-image: url(../images/bg/bg-square-dots-22.png);
  background-color: #00984a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8em 0em 8em 0em;
}
.carrer-banner-main h2.hiring {
  color: #fff;
  margin-bottom: 0;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.carrer-banner-main h2.hiring::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 36%;
  background-color: #fff;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.connectivity-main {
  padding: 10em 0em 6em 0em;
  background: #f7f5ff;
}
.connectivity-main .container {
  max-width: 1140px;
}
.connectivity-main .connectivity-flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.connectivity-main .connectivity-flex .left-main {
  width: 43.901%;
}
.connectivity-main .connectivity-flex .left-main .image-main-shape {
  position: relative;
}
.connectivity-main .connectivity-flex .left-main .image-main-shape .blue-image {
  left: 232px;
  width: 300px;
  max-width: 300px;
  top: -30px;
  position: absolute;
}
.connectivity-main .connectivity-flex .left-main .image-main-shape .blue-image img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 100px 30px 100px;
}
.connectivity-main .connectivity-flex .left-main .image-main-shape .main-img {
  width: 100%;
  position: relative;
}
.connectivity-main .connectivity-flex .left-main .image-main-shape .main-img img {
  width: 100%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 60px 100px 60px 100px;
}
.connectivity-main .connectivity-flex .right-main {
  width: 56%;
  padding: 0% 0% 0% 14%;
}
.connectivity-main .connectivity-flex .right-main .title-all h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2em;
}
.connectivity-main .connectivity-flex .right-main .title-all p.title-description {
  color: #506690;
  margin: 0em 0em 1em 0em;
  font-size: 14px;
}
.connectivity-main .connectivity-flex .right-main .feature-list ul.nav li.nav-item {
  margin: 0px 0px 16px 0px;
  color: #161c2d;
  font-size: 14px;
}
.connectivity-main .connectivity-flex .right-main .feature-list ul.nav li.nav-item .icon-box {
  color: #6c41ff;
  background-color: rgba(108, 65, 255, 0.1019607843);
  font-size: 13px;
  display: inline-block;
  padding: 0.5em;
  border-radius: 50%;
  margin-right: 16px;
}
.connectivity-main .connectivity-flex .right-main .feature-list ul.nav li.nav-item .icon-box i {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.what-say-main {
  padding: 5em 0em 6em 0em;
  background: #f7f5ff;
}
.what-say-main .container {
  max-width: 1140px;
}
.what-say-main .what-flex {
  display: flex;
}
.what-say-main .what-flex .left-box {
  width: 60%;
}
.what-say-main .what-flex .left-box .what-say {
  padding: 0% 12% 0% 0%;
}
.what-say-main .what-flex .left-box .what-say h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2em;
}
.what-say-main .what-flex .left-box .what-say .quote-main {
  margin-top: 20px;
  margin-bottom: 0em;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex {
  display: flex;
  flex-wrap: wrap;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex .quote-icon {
  flex-basis: 8%;
  margin: 16px 0px 0px 0px;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex .quote-msg {
  width: 91.864%;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex .quote-msg .msg-box {
  margin: 0% 0% 0% 2%;
  padding: 10px;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex .quote-msg .msg-box p {
  color: #506690;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex .quote-msg .msg-box .title-box h5 {
  color: #161c2d;
  font-size: 20px;
  margin-bottom: 0px;
}
.what-say-main .what-flex .left-box .what-say .quote-main .quote-flex .quote-msg .msg-box .title-box p {
  color: #161c2d;
  font-size: 14px;
  margin-bottom: 0;
  font-style: normal;
}
.what-say-main .what-flex .right-box {
  width: 40%;
}
.what-say-main .what-flex .right-box .blue-bg {
  margin: 0em -7em 0em -8em;
  background-image: url(../images/bg/bg-mask-03.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.what-say-main .what-flex .right-box .blue-bg img {
  -webkit-mask-image: url(../images/bg/bg-mask-03.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  height: auto;
  max-width: 100%;
}

.jobs-card-main {
  padding: 5em 0em 3em 0em;
  background: #f7f5ff;
}
.jobs-card-main .container {
  max-width: 1140px;
}
.jobs-card-main .center-padding {
  margin: 0px 0px 10px 0px;
  padding: 0% 24% 0% 24%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3em;
}
.jobs-card-main .center-padding h3 {
  color: #161c2d;
  font-size: 48px;
  margin-bottom: 20px;
}
.jobs-card-main .center-padding p {
  color: #000000;
}
.jobs-card-main .card {
  background: #fff;
  border-radius: 12px 12px 12px 12px;
  border: none;
  margin-bottom: 20px;
}
.jobs-card-main .card .card-body {
  padding: 10% 10% 8% 10%;
}
.jobs-card-main .card .card-body .job-title h3 {
  margin-bottom: 10px;
  color: #161c2d;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
}
.jobs-card-main .card .card-body .post-name p {
  margin-bottom: 20px;
  color: #00984a;
  font-size: 18px;
  text-transform: capitalize;
}
.jobs-card-main .card .card-body .job-description {
  border-top: 1px solid rgba(108, 65, 255, 0.1019607843);
}
.jobs-card-main .card .card-body .job-description p {
  padding-top: 20px;
  margin-bottom: 20px;
}
.jobs-card-main .card .card-body a.job-apply {
  border-radius: 6px 6px 6px 6px;
  background: #00984a;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  text-transform: capitalize;
  line-height: 1.4em;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
}
.jobs-card-main .card .card-body a.see-details {
  color: #000;
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
  display: block;
  width: 100%;
  font-weight: 700;
}

.amazing-life {
  background: #f7f5ff;
  padding-bottom: 50px;
  position: relative;
}
.amazing-life::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 320px;
  content: "";
  background: #00984a;
}
.amazing-life .container {
  max-width: 1140px;
}
.amazing-life .center-padding {
  margin: 0px 0px 10px 0px;
  padding: 0% 24% 0% 24%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3em;
}
.amazing-life .center-padding h3 {
  color: #161c2d;
  font-size: 48px;
  margin-bottom: 20px;
}
.amazing-life .life-box {
  margin-bottom: 25px;
  height: 295px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.amazing-life .life-box img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 295px;
}

.investor-content-main {
  padding: 80px 0;
  min-height: 800px;
}
.investor-content-main .investor-content-title {
  margin-bottom: 50px;
}
.investor-content-main .investor-content-title h2 {
  color: #00984a;
}
.investor-content-main .investor-content-wrapper {
  border-top: 1px solid #1fa66e;
}
.investor-content-main .investor-content-wrapper .col-lg-10 {
  border: 1px solid;
  border-color: transparent #1fa66e #1fa66e #1fa66e;
}
.investor-content-main .investor-content-wrapper .nav {
  flex-direction: column;
}
.investor-content-main .investor-content-wrapper .nav .nav-tabs .nav-link {
  background-color: #1fa66e;
  color: #ffffff;
  border-color: transparent transparent #1fa66e #1fa66e;
  border-radius: 0;
  padding: 15px 0;
  transition: 0.5s;
  font-weight: 600;
}
.investor-content-main .investor-content-wrapper .nav .nav-tabs .nav-link:hover {
  background: #ffffff;
  color: #00984a;
}
.investor-content-main .investor-content-wrapper .nav .nav-tabs .nav-link.active {
  background: #ffffff;
  color: #00984a;
}
.investor-content-main .investor-content-wrapper .tab-content {
  padding: 12px 0;
  transition: 0.5s;
}
.investor-content-main .investor-content-wrapper .tab-content table {
  border: none;
}
.investor-content-main .investor-content-wrapper .tab-content table thead {
  border-bottom: 2px solid #00984a;
}
.investor-content-main .investor-content-wrapper .tab-content table thead tr th {
  color: #00984a;
  padding: 10px 20px;
}
.investor-content-main .investor-content-wrapper .tab-content table tbody tr {
  transition: 0.5s;
}
.investor-content-main .investor-content-wrapper .tab-content table tbody tr:hover {
  background-color: rgba(31, 166, 110, 0.2);
}
.investor-content-main .investor-content-wrapper .tab-content table tbody tr td {
  color: #999999;
  padding: 10px 20px;
}
.investor-content-main .investor-content-wrapper .tab-content table tbody tr td a:hover {
  color: #1fa66e;
}

.member-card-main {
  padding: 80px 0;
}
.member-card-main .member-card-title {
  margin-bottom: 50px;
}
.member-card-main .member-card-title p {
  max-width: 700px;
  margin: 0 auto;
}
.member-card-main .member-card {
  max-height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.1);
  border: none;
}
.member-card-main .member-card .card-body {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -60px;
  transition: 1s;
}
.member-card-main .member-card .card-body::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #ffffff;
  position: absolute;
  top: -7px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
}
.member-card-main .member-card .card-body .card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #00984a;
}
.member-card-main .member-card .card-body .card-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #999999;
}
.member-card-main .member-card .card-body nav.nav a.nav-link {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 20px;
}
.member-card-main .member-card .card-body nav.nav .nav-link.facebook {
  color: #4267B2;
}
.member-card-main .member-card .card-body nav.nav .nav-link.twitter {
  color: #00acee;
}
.member-card-main .member-card .card-body nav.nav .nav-link.linkedin {
  color: #0072b1;
}
.member-card-main .member-card .card-body nav.nav .nav-link.pinterest {
  color: #c8232c;
}
.member-card-main .member-card:hover .card-body {
  bottom: 0;
}

.our-concern-main {
  padding: 80px 0 0 0;
}
.our-concern-main .our-concern-title {
  padding-top: 80px;
  padding-bottom: 20px;
}
.our-concern-main .our-concern-text p {
  text-align: justify;
}
.our-concern-main .our-concern-text .our-concern-img {
  width: 60%;
  padding: 0 18px 8px 0;
}
.our-concern-main table {
  border: none;
}
.our-concern-main table thead {
  border-bottom: 2px solid #00984a;
}
.our-concern-main table thead tr th {
  color: #00984a;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}
.our-concern-main table tbody tr {
  transition: 0.5s;
}
.our-concern-main table tbody tr td {
  color: #999999;
  padding: 10px 20px;
  height: 60px;
  vertical-align: middle;
}
.our-concern-main table tbody tr td.title {
  border-left: none;
}
.our-concern-main table tbody tr td.information {
  border-right: none;
}
.our-concern-main .success-milstone .main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.our-concern-main .success-milstone .main-timeline .timeline {
  width: calc(50% + 58px);
  border-top: 2px solid #404247;
  float: left;
  position: relative;
  z-index: 1;
}
.our-concern-main .success-milstone .main-timeline .timeline:before {
  content: "";
  background: #404247;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: -5px;
  right: 0;
}
.our-concern-main .success-milstone .main-timeline .timeline-content {
  color: #404247;
  text-align: center;
  padding: 40px 100px 40px 10px;
  display: block;
  position: relative;
}
.our-concern-main .success-milstone .main-timeline .timeline-content:hover {
  text-decoration: none;
}
.our-concern-main .success-milstone .main-timeline .timeline-content:before {
  content: "";
  background: #00a6f9;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50px;
}
.our-concern-main .success-milstone .main-timeline .timeline-year {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: -25px;
}
.our-concern-main .success-milstone .main-timeline .title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.our-concern-main .success-milstone .main-timeline .description {
  font-size: 16px;
  margin: 0;
  text-align: justify;
  text-align: center;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(even) {
  float: right;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(even):before {
  right: auto;
  left: 0;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 40px 10px 40px 100px;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(even) .timeline-content:before {
  right: auto;
  left: 51px;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(even) .timeline-year {
  right: auto;
  left: -25px;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(4n+2) .timeline-content:before {
  background: #ff3e7c;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(4n+3) .timeline-content:before {
  background: #7438be;
}
.our-concern-main .success-milstone .main-timeline .timeline:nth-child(4n+4) .timeline-content:before {
  background: #bdc203;
}
@media screen and (max-width: 767px) {
  .our-concern-main .success-milstone .main-timeline .timeline {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */